
  * {
      box-sizing: border-box;
  }
  .name-logo {
    margin-right: 20px;
    position: absolute;
    margin-top: 0;
    width: 50%;
    background-color: #4aaaa5;
    padding-right: 0;
}

/* .logo {
    background-color: #4aaaa5;
    height: 75px;
    width: 50%;
    text-align: center;
    margin: 0;
    float: left; 
   
}   */

 .content {
    width: 960px;
    padding-left: 30px;
    margin-left: 200px;
}

.main {
    width: 635px;
    float: left;
    padding-bottom: 40px; 
    background-color: white;
    margin-right: 15px;
    margin-top: 60px;
    border: 1px solid gainsboro;
    margin-bottom: 30px;
}

.sidebar {
    width: 270px;
    float: right;
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-top: 40px;
    border: 1px solid gainsboro;
   }

p {
    float: right;
}

.connect {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}


li {
    list-style-type: none;
     margin: 0;
    padding: 0; 
    float: right;
   
}
/*
.about {
    float: right;
    display: inline;
    width: 16%;
}

.portfolio {
    float: right;
    display: inline;
    width: 16%
}

.contact {
    float: right;
    display: inline;
    width: 16%;
}


li a {
    display: inline;
    float: left;
} 

  
/*
h1 {
    font-family: "Georgia", Times, "Times New Roman", serif;
    color: #f5fafa;
    
} 

 h2 {
    color: #4aaaa5;
    border-bottom: 2px solid grey;
}
*/
body {
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    font-family: "Ariel", "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("../images/linedpaper.png");
    
}


header {
    background-color: #ffffff;
    border-color: #cccccc;
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
}
/*
.image {
    margin-right: 20px;
    float: left;
}
*/
footer {
    background-color: gray;
    color: white;
    text-align: center;
    clear: both;
    padding: 40px;
    bottom: 0;
}  
